/* Board.css */
:root body {
    background-color: #fffafafb;
  }

  /* Add rounded corners to the squares */
  .square {
    border-radius: 10px;
    border-color: #0c0b0b;
    border-width: 2px;
    width: 100px; /* Increase the width */
    height: 100px; /* Increase the height */
  }
  
  .square {
    background-color: #8fa4ac;
    color: #080707; /* Optional: Change the text color to white for better visibility */
  }
  
  /* Optional: Add some spacing and center the content */
  .board-row {
    display: flex;
    justify-content: center;
  }
  
  .status {
    color: #111010;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #0c0b0b;
    text-align: center;
    margin-top: 10px; /* Decrease the margin-top */
    margin-bottom: 10px;
  }
  
  h2 {
    color: #111010;
    text-align: center;
    margin-top: 5px; /* Add some margin to move it closer to the top */
  }
  
  button.active,
  button.inactive {
    margin-top: 20px; /* Add vertical spacing between buttons and squares */
  }
  
  button.active {
    background-color: rgb(18, 18, 20);
    color: white;
  }
  
  /* Styles for the inactive button */
  button.inactive {
    background-color: white;
    color: black;
  }
  